.authenticate-container {
    max-width: 320px;
    height: 100vh;
    margin: auto;
    align-items: center;

    // border-radius: 10px 10px 0px 0px;
    
    .ant-tabs {
        border: 1px solid;
        padding: 15px;
        background-color: white;
        border-radius: 10px;
        -webkit-box-shadow: -7px 6px 50px 5px rgba(5,48,0,0.7);
        -moz-box-shadow: -7px 6px 50px 5px rgba(5,48,0,0.7);
        box-shadow: -7px 6px 50px 5px rgba(5,48,0,0.7);
    }

}
