.logo {
    margin-right: 50px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    float: left;
    img {
        width: 60px;
    }
}

@media screen and (max-width:600px){
    .logo{
        margin-right: 35px;
    }
    .nav-bar{
        padding: 0px 0px 0px 0px;
    }       
}