@import "../../../theme";

.ant-list-item {
    z-index: 1001;
}

.devices-picker-component {
    .all-devices-column {
        .search-input {
            width: 100%;
        }
    }

    .devices-list {
        border: 1px solid $normal-color;
        border-radius: 4px;
        height: 200px;
        overflow-y: auto;

        &.selected {
            margin-top: 36px;

            .ant-list-item {
                cursor: initial;
            }

            .ant-list-item-meta-avatar {
                cursor: pointer;
            }
        }

        .ant-list-item-meta {
            align-items: center;
        }
        .ant-list-item-meta-title {
            margin: 0;
        }
    }

    .ant-list-item {
        padding: 3px 15px;
        cursor: pointer;
        transition: background 300ms ease-in-out;

        &:hover {
            background: $primary-2;
        }
    }

    .swap-icon {
        margin-top: 120px;
    }
}
