.travel-time-form {
    top: 50px;
    width: 95% !important;
    max-width: 1100px;

    .name-input {
        width: 230px;
    }

    .ant-row {
        margin-bottom: 10px;
    }

    .leaflet-container {
        margin-top: -17px;
    }
}
