.requested-props-container {
    margin-top: 20px;
    .prop-card-container .ant-card-body {
        display: flex;
        justify-content: space-evenly;
    }

    .prop-card {
        margin: 0 5px;
    }
}
