.requested-props-container {
    margin-top: 20px;
    .prop-card-container .ant-card-body {
        display: flex;
        justify-content: space-evenly;
    }

    .prop-card {
        margin: 0 5px;
    }

    .ant-card-meta{
        padding-left: 0px;
    }
}

@media screen and (max-width:600px){
    .prop-card-container .ant-card-body {
        flex-direction: column;
        align-content: center;
    
    }
    .prop-card{
        max-width: 250px; 
        border: none;
        padding-top: 30px;
        border-bottom: 1px solid grey;
    }
}