.avatar{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin-bottom: 15px;
}
.profile-grid{
    .ant-card-body{
        padding-bottom: 10px !important; 
    }
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .avatar-grid{
        min-width: 200px;
        max-width: 200px;
        border-right: 1px solid black;
    }
    .user-meta{
        table{
            td{
                width: 130px;
                height: 2.5em;
                align-content: left;
            }
        }
        .modal-button{
            width: 100px;
        }
    }
}
